// Drag & drop
.dragActive-true {
  background-color: lightblue;
}
.dragActive-false {
  background-color: unset;
}
// Register Modal
.registerModal {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  form {
    z-index: 100;
    background-color: white;
  }
}

canvas {
  fillRect(10, 10, 100, 100)
}